/* _sass/color_schemes/brand.scss */
$link-color: $blue-000;
$btn-primary-color: #00478f;    // primary buttons
$nav-child-link-color: #00478f; // sidebar links
$focus-ring-color: #00478f;     // focus outlines
